#rootContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #0074D9;
}

.header {
  height: 50px;
  color: white;
  font-size: 20pt;
}

.header a {
  margin-left: 50px;
  margin-top: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}

.header a:link {
  color: white;
  text-decoration: none;
}

.header a:visited {
  color: white;
  text-decoration: none;
}

.header a:hover {
  color: white;
  text-decoration: none;
}

.header a:active {
  color: white;
  text-decoration: none;
}

.footer {
  height: 50px;
  color: white;
  font-size: 12pt;
  text-align: center;
}

.footer a {
  color: white;
}

.footer a:link {
  color: white;
  text-decoration: none;
}

.footer a:visited {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  color: white;
  text-decoration: none;
}

.footer a:active {
  color: white;
  text-decoration: none;
}

.game-card-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.game-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 300px;
  color: white;
}

.large-button {
  background-color: #3D9970;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-text {
  font-size: 20px;
  color: white;
  align-self: center;
}

.game-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.game-control .title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  font-size: 20px;
}

.game-control .instruction {
  color: #DDDDDD;
  text-align: center;
}

.game-control .select-coin {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px;
}

.game-control button {
  background-color: #0074D9;
  border-width: 0;
}

.game-control button:focus {
  outline: 0;
}

.grey-image {
  opacity: 0.2;
}

.game-control .bet-rate-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.game-control .bet-rate-button {
  background-color: navy;
  color: white;
  margin-right: 10px;
}

.game-control .bet-rate-input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 5px;
}

.game-control .text {
  color: white;
  font-size: 30px;
}

.game-control input {
  background-color: #0074D9;
  color: white;
  border-width: 2px;
  border-color: white;
  text-align: center;
  border-style: solid;
}

.game-history {
  background-color: navy;
  width: 300px;
}

.game-history .title {
  display: flex;
  justify-content: center;
  color: white;
  align-self: center;
}

.game-history .caption {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
}

.game-history .row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  font-size: 14px;
}
