.header {
  width: 100%;
  color: white;
  font-size: 20pt;
}

.header a {
  margin-left: 50px;
  margin-top: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}

.header a:link {
  color: white;
  text-decoration: none;
}

.header a:visited {
  color: white;
  text-decoration: none;
}

.header a:hover {
  color: white;
  text-decoration: none;
}

.header a:active {
  color: white;
  text-decoration: none;
}
